.footer {
  display: none;
}

.hero {
  background: transparent;
  padding-top: 300px;
  padding-bottom: 100px;
}

#content p span.printblack {
  font-family: inherit;
  background-color: #000000;
}

#content,
#content2 {
  page-break-before: always;
  page-break-after: always;
  margin-top: 100px;
  margin-bottom: 100px;
}

#content3 {
  page-break-before: always;
  page-break-after: always;
  margin-top: 100px;
  margin-bottom: 20px;
}

.hero a,
.hero a:active {
  color: #000;
}

#content p span.webblack,
#content2 p span.webblack,
#content3 p span.webblack {
  background-color: transparent;
}

nav {
  display: none;
}
