.footer {
  display:none;
}

.hero {
  background:transparent;
  padding-top: 300px;
  padding-bottom: 100px;
}
  

#content,
#content2 {
  page-break-before: always;
  page-break-after: always;
  margin-top: 100px;
  margin-bottom: 100px;
}

#content3 {
  page-break-before: always;
  page-break-after: always;
  margin-top: 100px;
  margin-bottom: 20px;
}

  
.hero a {
  color: #00000 !important;
  background-color: #D358F7;
}

.hero a:active {
  color: #00000 !important;
  background-color: #D358F7;
}

#content span {
  background-color: none;
}
#content2 span {
  background-color: none;
}
#content3 span {
  background-color: none;
}

  
  nav {
  display: none;
  }
