.footer {
  display:none;
}
.hero {
  background:transparent;
}

#content,
#content2,
#content3 {
  page-break-after: always;
  margin-top: 50px;
  margin-bottom: 100px;
}


.hero a:active {
  color: #00000;
}
  
.hero a {
  color: #00000;
}

#content2 p span {
  background-color: none;
}

  
  nav {
  display: none;
  }
