.footer {
  display: none;
}

.hero {
  background: transparent;
  padding-top: 300px;
  padding-bottom: 100px;
}

span.webblack {
  background-color: transparent;
}

span.printblack {
  background-color: #000000;
}

.content {
  page-break-before: always;
  page-break-after: always;
}

#content1,
#content2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

#content3 {
  margin-top: 100px;
  margin-bottom: 20px;
}

#content4 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.printonly {
display: none;
}
  
.hero h1 {
  text-align: center;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.hero a,
.hero a:active {
  color: #000;
}

.hero h3 {
  color: #000;
}

nav {
  display: none;
}
