@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

@font-face {
  font-family: 'censorship';
  src: url('../fonts/censorship.woff') format('woff');
}

/* Alle Elemente zurücksetzen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body und Standardschrift */
body {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
}

/* Standard HTML Elemente */
p {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4 {
  margin-bottom: .5em;
}

/* Trennlinie */
hr {
  width: 30%;
  height: 1px;
  margin: 0 auto;
  color: #BDBDBD;
}

/* layout */
.container {
  width: 60%;
  margin: 0 auto;
}

.fullscreen {
  min-height: 100vh;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.vertical-align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Hilfsklassen */
.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.print-only {
  display: none;
}

.web-only {
  /* leer */
}

/* Zensur */
.censored-web-black,
.censored-web-white {
  font-family: 'censorship';
  font-style: normal;

}
.censored-web-black {
  color: #000;
}

.censored-web-white {
  color: #FFFFFF;
}

.censored-print-black {
  font-family: inherit;
  font-style: inherit;
  color: inherit;
}

/* Hintergrundfarben */
.background-black {
  background: #000;
}

/* Textfarben */
.text-black {
  color: #000;
}
.text-white {
  color: #fff;
}

/* Textgrößen */
.font-size-80 {
  font-size: 80px;
}
.font-size-60 {
  font-size: 60px;
}
.font-size-50 {
  font-size: 50px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-25 {
  font-size: 25px;
}

/* Textstile */
.font-bold {
  font-weight: 700;
}
.font-italic {
  font-style: italic;
}

/* Abstände */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

/* Bilder Gallerie */
.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container .image {
  flex-grow: 1;
  max-width: 25%;
  padding: 10px;
}

.image-container .image img {
  max-width: 100%;
  filter: brightness(0);
}

.image-container .image span {
  display: block;
}

/* Scroll Down https://codepen.io/nxworld/pen/OyRrGy */
a.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-top: 40px;
  color: #000;
  text-decoration: none;
}

a.scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Farbe automatisch auf weiß ändern wenn der Hintergrund schwarz ist */
.background-black a.scroll-down {
  color: #fff;
}

.background-black a.scroll-down span {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* Texte */
.text-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.text-container .text-info {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 20%;
}

.text-container .text-full,
.text-container .text-half {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;

  font-family: 'EB Garamond', serif;
}

.text-container .text-full {
  max-width: 80%;
}

.text-container .text-half {
  max-width: 40%;
}

.text-container .text-full p,
.text-container .text-half p {
  margin-bottom: 0;
}

/* Button */
.button {
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #333;
}

p.autor {
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1em!important;
}

/* Footer */
footer {
  height: 50px;
}

/* textmakierung verbieten */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Navigation */
nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 15px 80px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000000;
  background: #000000;
}
