@import url('https://fonts.googleapis.com/css?family=Kadwa:400,700|Karla:400,400i,700,700i|Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px
}

/* Hilfsklassen */
.hide {
  display: none;
}
.text-center {
  text-align: center;
}

p.cite {
  font-style: italic;
}

p.autor {
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
}

/* Quellenangabenlink */
a.source {
  font-size: 10px;
  display: block;
  line-height: 16px;
  color: #6E6E6E;
  text-decoration: none;
  width: 60%;
  margin: 0 auto;
}
a.source:hover {
  color: #F2F2F2;
}

/* Quellenangabenlink im Text */
a.textsource {
  font-size: 10px;
  text-decoration: none;
  color: #000000;
}
a.textsource:hover {
  color: #F2F2F2;
}

/* Drucklink */
a.print {
  padding: 15px 80px;
  color: #FFFFFF;
  text-decoration: none;
}
a.print:hover {
  color: #000000;
  background: #FFFFFF;
}

/* textmakierung verbieten */
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Navigation */
nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 15px 80px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000000;
  background: #000000;
}

/* Zensur */
span.webblack {
  font-family: inherit;
  background-color: #000000;
}

span.printblack {
  font-family: inherit;
  background-color: transparent;
}


/* HERO */
.hero {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1b1b1b;
  background-color: #000000;
  width: 100%;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 300px;
} 
  
.hero h1 {
  text-align: center;
  line-height: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.hero h3 {
  font-family: 'EB Garamond', serif;
  color: #585858;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.hero a {
  font-family: 'EB Garamond', serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  line-height: 50px;
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.hero a:active {
  color: #FFFFFF;
}
.hero a:hover {
  color: #848484;
}
  

/* Bilder */
.content img {
  display: block;
  max-width: 300px;
  max-height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

img.qr {
  display: block;
  max-width: 200px;
  max-height: 200px;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Abstände für die Inhalte */
#content1 {
  margin-top: 200px;
  margin-bottom: 100px;
}
#content2 {
  margin-top: 80px;
  margin-bottom: 100px;
}
#content3 {
  margin-top: 80px;
  margin-bottom: 250px;
}

#content4 {
  margin-top: 100px;
  margin-bottom: 200px;
}

.printonly {
display: none;
}

/* Inhalte */
.content h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

.content h3 {
  font-family: 'EB Garamond', serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
  width: 60%;
  margin: 0 auto;
}

.content h4 {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

.content p {
  font-family: 'EB Garamond', serif;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
}
