@import url('https://fonts.googleapis.com/css?family=Kadwa:400,700|Karla:400,400i,700,700i|Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i');

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}


#content a.source {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: 400;
  display: block;
  line-height: 16px;
  color: #6E6E6E;
  text-decoration: none;
  width: 60%;
  margin: 0 auto;
}
#content a.source:hover {
  color: #F2F2F2;
}
#content a.textsource {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
#content a.textsource:hover {
  color: #F2F2F2;
}


#content2 a.source {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: 400;
  display: block;
  line-height: 16px;
  color: #6E6E6E;
  text-decoration: none;
  width: 60%;
  margin: 0 auto;
}
#content2 a.source:hover {
  color: #F2F2F2;
}
#content2 a.textsource {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
#content2 a.textsource:hover {
  color: #F2F2F2;
}


#content3 a.source {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: 400;
  display: block;
  line-height: 16px;
  color: #6E6E6E;
  text-decoration: none;
  width: 60%;
  margin: 0 auto;
}
#content3 a.source:hover {
  color: #F2F2F2;
}
#content3 a.textsource {
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
#content3 a.textsource:hover {
  color: #F2F2F2;
}






a.print {
  padding: 15px 80px;
  color: #FFFFFF;
  text-decoration: none;
}
a.print:hover {
  color: #000000;
  background: #FFFFFF;
}




#content img,
#content2 img,
#content3 img {
  display: block;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* textmakierung verbieten */
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 15px 80px;
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000000;
  background: #000000;
}


.text-center {
  text-align: center;
}

.hero a {
  font-family: 'EB Garamond', serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 30x;
  font-weight: 800;
  line-height: 50px;
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero a:active {
  color: #FFFFFF;
}

.hero a:hover {
  color: #848484;
}
  


.hero {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1b1b1b;
  background-color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
} 
  
.hero h1 {
  text-align: center;
  line-height: 50px;
   padding-top: 30px;
  padding-bottom: 30px;
}

.hero {
  padding-top: 300px;
  padding-bottom: 300px;
}



#content {
  margin-top: 200px;
  margin-bottom: 100px;
}

#content2 {
  margin-top: 80px;
  margin-bottom: 100px;
}


#content3 {
  margin-top: 80px;
  margin-bottom: 250px;
}

#content h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

#content h3 {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  width: 60%;
  margin: 0 auto;
}

#content h4 {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

#content p {
  font-family: 'EB Garamond', serif;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}



#content p span {
  background-color: #000000;
}

/* zweiter Textabschnitt */

#content2 h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

#content2 h3 {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  width: 60%;
  margin: 0 auto;
}

#content2 h4 {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}


#content2 p {
  font-family: 'EB Garamond', serif;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

#content2 p span {
  background-color: #000000;
}

/* letzter Textabschnitt */


#content3 h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

#content3 h3 {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  width: 60%;
  margin: 0 auto;
}

#content3 h4 {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}


#content3 p {
  font-family: 'EB Garamond', serif;
  line-height: 22px;
  width: 60%;
  margin: 0 auto;
}

#content3 p span {
  background-color: #000000;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  line-height: 50px;
}
